*{
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}
#background{
    height: 3000px; 
    background: #00C1E8;
}
#foreground{
    height: 300px; 
    padding-top: 100px;
    background: #00c1e8;
    background-image: url(background.png);
}
#title{
    color: white; 
    font-size: 60px;
    margin-bottom: 100px;
}
#sub_title{
    color: white; 
    margin-top: 20px;
}
#slideshow{
    width: 500px; 
    margin-top: 20px;
}
#download_bt{
    display: flex;
    align-items: center;
    border: 0;
    border-radius: 100px;
    margin: 0 auto;
    height: 60px;
    width: 120px;
    background: #FFE04A;
}
.cardView{
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}